.about__wrapper {
  padding: 50px 15px;
}

.about__title {
  margin-bottom: 15px;
}

.about__description > p {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

.about__mission {
  margin-bottom: 40px;
}

.about__mission h3 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $extra-background-color;
}

.about__mission p {
  margin: 0;
  margin-bottom: 30px;
}

.about__button {
  position: relative;
  padding: 15px 59px 15px 21px;
  font-weight: 500;
  background-color: transparent;
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 0;
  padding: 42px 20px 40px;
  list-style: none;
  color: $base-white-color;
  background-color: $extra-background-color;
  border-radius: 20px;
}

.about__item {
  position: relative;
  margin: 0;
  padding: 15px 20px;
  border: 1px solid #f0efe9;
  border-radius: 16px;
}

.about__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 42px;
  height: 42px;
  top: -23px;
  left: -20px;
  background-color: $extra-background-color;
  background-image: url("../../../__spritemap#sprite-star-view");
  background-size: 18px 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.about__item h4 {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.16px;
  text-transform: uppercase;
}

.about__item p {
  margin: 0;
  font-weight: 300;
  color: $base-background-color;
  opacity: 0.7;
}

@media (min-width: $tablet-width) {
  .about__wrapper {
    padding: 50px 45px;
  }

  .about__title {
    margin-bottom: 30px;
  }

  .about__description > p {
    font-size: 20px;
    line-height: 26px;
  }

  .about__mission {
    margin-bottom: 60px;
  }

  .about__mission h3 {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 28px;
  }

  .about__mission p {
    margin-bottom: 40px;
    padding-right: 145px;
    font-size: 16px;
  }

  .about__button {
    padding: 20px 80px 20px 30px;
    background-color: transparent;
  }

  .about__list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 52px;
    padding: 72px 50px 50px 70px;
  }

  .about__item {
    padding: 15px 20px 16px;
    width: 253px;
  }

  .about__item::before {
    top: -22px;
  }

  .about__item h4 {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }

  .about__item p {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .about__wrapper {
    padding: 60px 100px;
  }

  .about__header {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .about__title {
    padding-top: 10px;
  }

  .about__description > p {
    padding: 0;
    font-size: 22px;
    line-height: 32px;
  }

  .about__mission {
    min-width: 498px;
    max-width: 498px;
  }

  .about__mission h3 {
    padding-top: 10px;
    margin-bottom: 40px;
    font-size: 32px;
    line-height: 36px;
  }

  .about__mission p {
    margin-bottom: 50px;
    padding: 0;
    line-height: 26px;
  }

  .about__list {
    padding: 72px 100px 50px 120px;
  }

  .about__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 41px;
    width: 484px;
  }

  .about__item::before {
    top: -23px;
  }

  .about__item h4 {
    margin: 0;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.26px;
  }

  .about__item p {
    min-width: 201px;
    max-width: 201px;
  }
}
