.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accordion__item {
  padding: 20px 15px;
  border: 2px solid $extra-background-color;
  border-radius: 14px;
  overflow: hidden;
  transition: all 0.6s;
}

.accordion__item:hover {
  background-color: $base-white-color;
}

.accordion__item:not([open]):has(.accordion__summary:focus-visible) {
  background-color: $base-white-color;
}

.accordion__summary {
  position: relative;
  padding: 2px 55px 2px 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  color: $extra-background-color;
  cursor: pointer;
}

.accordion__summary br {
  display: none;
}

.accordion__summary:focus {
  outline: none;
}

.accordion__item:nth-last-child(-n + 2) .accordion__summary {
  padding: 0 55px 0 0;
}

.accordion__summary::-webkit-details-marker {
  display: none;
}

.accordion__summary::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: $extra-background-color;
  border: 1px solid transparent;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.6s;
}

.accordion__summary:hover::before {
  background-color: $base-white-color;
  border: 1px solid $extra-background-color;
}

.accordion__summary:active::before {
  background-color: $active-push-color;
  border: 1px solid $active-push-color;
}

.accordion__summary::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  width: 40px;
  height: 40px;
  background:
    linear-gradient($base-white-color, $base-white-color) center / 18px 1px no-repeat,
    linear-gradient($base-white-color, $base-white-color) center / 1px 18px no-repeat;
  transform: translateY(-50%);
}

.accordion__summary:hover::after {
  background:
    linear-gradient($extra-background-color, $extra-background-color) center / 18px 1px no-repeat,
    linear-gradient($extra-background-color, $extra-background-color) center / 1px 18px no-repeat;
}

.accordion__summary:active::after {
  background:
    linear-gradient($base-white-color, $base-white-color) center / 18px 1px no-repeat,
    linear-gradient($base-white-color, $base-white-color) center / 1px 18px no-repeat;
}

.accordion__panel {
  color: $base-background-color;
}

.accordion__panel p {
  margin: 0;
  margin-top: 20px;
}

.accordion__item[open] {
  color: $base-white-color;
  background-color: $extra-background-color;
}

.accordion__item[open]:active {
  background-color: $active-push-color;
}

.accordion__item[open] .accordion__summary {
  color: $base-white-color;
}

.accordion__item[open]:has(.accordion__summary:focus-visible) {
  background-color: $extra-background-color;
}

.accordion__item[open] .accordion__summary::before {
  background-color: $base-white-color;
  border: 1px solid transparent;
}

.accordion__item[open] .accordion__summary:hover::before {
  background-color: transparent;
  border: 1px solid $base-white-color;
}

.accordion__item[open] .accordion__summary:active::before {
  background-color: $base-white-color;
  border: 1px solid transparent;
}

.accordion__item[open] .accordion__summary::after {
  background: linear-gradient($extra-background-color, $extra-background-color) center / 18px 1px no-repeat;
}

.accordion__item[open] .accordion__summary:hover::after {
  background: linear-gradient($base-white-color, $base-white-color) center / 18px 1px no-repeat;
}

.accordion__item[open] .accordion__summary:active::after {
  background: linear-gradient($active-push-color, $active-push-color) center / 18px 1px no-repeat;
}

@media (min-width: $tablet-width) {
  .accordion__item {
    padding: 30px;
    border-radius: 16px;
  }

  .accordion__summary {
    padding: 7px 50px 7px 0;
    font-size: 22px;
    line-height: 26px;
  }

  .accordion__summary br {
    display: block;
  }

  .accordion__panel p {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .accordion__item {
    padding: 40px 65px 40px 40px;
    border-radius: 16px;
  }

  .accordion__summary {
    padding: 3px 10px 3px 0;
    font-size: 28px;
    line-height: 34px;
  }

  .accordion__summary br {
    display: none;
  }

  .accordion__summary::before {
    top: 0;
    right: -25px;
    transform: translateY(0);
  }

  .accordion__summary::after {
    top: 0;
    right: -25px;
    transform: translateY(0);
  }

  .accordion__panel p {
    line-height: 26px;
  }
}
