.button {
  position: relative;
  display: inline-block;
  padding: 15px 68px 15px 30px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  color: $extra-background-color;
  background-color: $base-white-color;
  text-align: center;
  text-decoration: none;
  border: 1px solid $extra-background-color;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.6s;
}

.button::before {
  content: "";
  position: absolute;
  display: block;
  top: 4px;
  right: 4px;
  width: 34px;
  height: 34px;
  background-color: $extra-background-color;
  border-radius: 50%;
  transition: all 0.6s;
}

.button::after {
  content: "";
  position: absolute;
  display: block;
  top: 15px;
  right: 16px;
  width: 10px;
  height: 10px;
  background-color: $base-white-color;
  mask-image: url("../../../__spritemap#sprite-arrow-view");
  mask-size: 10px 10px;
  mask-position: center;
  mask-repeat: no-repeat;
  transition: all 0.6s;
}

.button:hover {
  color: $base-white-color;
  background-color: $extra-background-color;
}

.button:hover::before {
  background-color: $base-white-color;
}

.button:hover::after {
  background-color: $extra-background-color;
  transform: rotate(45deg);
}

.button:active {
  color: rgb($base-white-color, 0.7);
}

.button:active::after {
  background-color: rgb($extra-background-color, 0.7);
}

.button--disabled {
  color: $disabled-color;
  background-color: transparent;
  border: 1px solid $disabled-color;
  cursor: default;
}

.button--disabled:hover,
.button--disabled:active {
  color: $disabled-color;
  background-color: transparent;
}

.button--disabled.button::before {
  background-color: $disabled-color;
}

.button--disabled.button:hover::before,
.button--disabled.button:active::before {
  background-color: $disabled-color;
}

.button--disabled.button:hover::after,
.button--disabled.button:active::after {
  background-color: rgb($base-white-color, 0.9);
  transform: rotate(0deg);
}

@media (min-width: $tablet-width) {
  .button {
    padding: 20px 80px 20px 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }

  .button::before {
    width: 46px;
    height: 46px;
  }

  .button::after {
    top: 22px;
    right: 22px;
  }
}
