.button {
  position: relative;
  display: inline-block;
  padding: 15px 68px 15px 30px;
  box-sizing: border-box;
  color: $extra-background-color;
  background-color: $base-white-color;
  text-align: center;
  text-decoration: none;
  border: 1px solid $extra-background-color;
  border-radius: 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.6s;
}

.button::before {
  content: "";
  position: absolute;
  display: block;
  top: 4px;
  right: 4px;
  width: 34px;
  height: 34px;
  background-color: $extra-background-color;
  border-radius: 50%;
}

.button::after {
  content: "";
  position: absolute;
  display: block;
  top: 15px;
  right: 16px;
  width: 10px;
  height: 10px;
  background-color: $base-white-color;
  mask-image: url("../../../__spritemap#sprite-arrow-view");
  mask-size: 10px 10px;
  mask-position: center;
  mask-repeat: no-repeat;
}
