.contacts__wrapper {
  padding: 70px 15px;
  color: $base-white-color;
  background-color: $extra-background-color;
}

.contacts__title {
  margin-bottom: 35px;
  color: $base-white-color;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style: none;
  font-style: normal;
}

.contacts__line-name {
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  opacity: 0.8;
}

.contacts__address {
  margin: 0;
}

.contacts__link {
  margin: 0;
  color: inherit;
  text-decoration: none;
}
