.footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 15px;
}

.footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 52px;
  height: 52px;
  transition: all 0.6s;
}

.footer__logo:hover {
  opacity: 0.8;
}

.footer__logo:active {
  opacity: 0.6;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 30px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.footer__link {
  color: inherit;
  text-decoration: none;
  transition: all 0.6s;
}

.footer__link:hover {
  color: $extra-background-color;
  opacity: 0.7;
}

.footer__link:active {
  color: $active-push-color;
  opacity: 1;
}

.footer__link:focus {
  outline: none;
}

.footer__link:focus-visible {
  color: $extra-background-color;
  opacity: 1;
}

.footer__policy {
  align-self: center;
  margin-bottom: 10px;
  padding-bottom: 2px;
  font-size: 12px;
  line-height: 14px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid $base-black-color;
  transition: all 0.6s;
}

.footer__policy:hover {
  color: $extra-background-color;
  border-bottom: 1px solid $extra-background-color;
  opacity: 0.7;
}

.footer__policy:active {
  color: $active-push-color;
  border-bottom: 1px solid $active-push-color;
  opacity: 1;
}

.footer__policy:focus {
  outline: none;
}

.footer__policy:focus-visible {
  color: $extra-background-color;
  border-bottom: 1px solid $extra-background-color;
  opacity: 1;
}

.footer__copyright {
  align-self: center;
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.6;
}

.footer__social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    padding: 40px 45px;
  }

  .footer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  .footer__logo {
    margin: 0;
  }

  .footer__list {
    justify-content: flex-end;
    gap: 15.5px;
    margin: 0;
    width: 600px;
  }

  .footer__link {
    font-size: 16px;
  }

  .footer__policy {
    align-self: flex-start;
    line-height: 12px;
  }

  .footer__copyright {
    align-self: flex-start;
    margin: 0;
    line-height: 12px;
  }

  .footer__social {
    position: absolute;
    justify-content: flex-end;
    bottom: 40.5px;
    right: 45px;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    padding: 60px 100px 40px;
  }

  .footer__header {
    justify-content: flex-start;
    width: 1040px;
  }

  .footer__logo {
    margin-right: 52px;
  }

  .footer__list {
    justify-content: flex-start;
    gap: 30px;
    width: 968px;
  }

  .footer__link {
    line-height: 26px;
  }

  .footer__policy {
    margin: 0;
    align-self: flex-end;
    font-size: 14px;
    line-height: 18px;
  }

  .footer__copyright {
    position: absolute;
    display: block;
    bottom: 40px;
    font-size: 14px;
    line-height: 18px;
  }

  .footer__social {
    gap: 20px;
    bottom: 94px;
    right: 100px;
  }
}
