.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 15px;
}

.footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 52px;
  height: 52px;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 30px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.footer__link {
  color: inherit;
  text-decoration: none;
}

.footer__policy {
  align-self: center;
  margin-bottom: 10px;
  padding-bottom: 2px;
  font-size: 12px;
  line-height: 14px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid $base-black-color;
}

.footer__copyright {
  align-self: center;
  margin: 0;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.6;
}

.footer__social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}
