.form {
  position: relative;
  padding: 43px 0 40px;
}

.form::before {
  content: "";
  position: absolute;
  display: block;
  top: 40px;
  left: 0;
  width: 100%;
  height: 753px;
  background-image: url("../../img/form-bg@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  pointer-events: none;
}

.form__wrapper {
  padding: 40px 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px 15px 27px;
  width: 300px;
  min-height: 670px;
  color: $base-white-color;
  background-color: $extra-background-color;
  border-radius: 16px;
}

.form__title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  color: $base-white-color;
}

.form__subtitle {
  margin: 0;
  margin-bottom: 20px;
  color: $base-background-color;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

form label {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 14px;
  color: $base-background-color;
  opacity: 0.8;
}

form input,
form textarea {
  margin-bottom: 20px;
  padding: 16px 10px;
  color: $base-white-color;
  background-color: transparent;
  border: 1px solid rgb($base-white-color, 0.3);
  border-radius: 8px;
  transition: all 0.6s;
}

form input:hover,
form textarea:hover {
  border: 1px solid rgb($base-white-color, 1);
}

form input:focus,
form textarea:focus {
  border: 1px solid rgb($base-white-color, 1);
  outline: none;
}

.form input:disabled {
  background-color: #4179c7;
  border: 1px solid #83a7da;
  pointer-events: none;
}

.form--error .form__input:invalid {
  background-color: rgb(255, 94, 102, 0.2);
  border: 1px solid #ff5e66;
}

form textarea {
  min-height: 94px;
  resize: none;
}

form .form__checkbox {
  position: relative;
  margin-top: 16px;
  margin-bottom: 20px;
  color: $base-white-color;
  opacity: 1;
  cursor: pointer;
}

.form__text-checkbox {
  display: block;
  padding-left: 30px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.6s;
}

.form__mark {
  position: absolute;
  top: 11px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: $base-white-color;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: all 0.6s;
}

.form__input[type="checkbox"]:checked + .form__mark::before {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 19px;
  background-color: $extra-background-color;
  mask-image: url("../../../__spritemap#sprite-check-view");
  mask-size: 10px 10px;
  mask-position: center;
  mask-repeat: no-repeat;
}

.form__button {
  position: relative;
  width: 260px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  color: $base-white-color;
  background-color: transparent;
  border: 1px solid $base-white-color;
  transition: all 0.6s;
}

.form__button:hover {
  color: $extra-background-color;
  background-color: $base-white-color;
}

.form__button:active {
  color: rgb($extra-background-color, 0.7);
}

.form__button::before,
.form__button::after {
  content: "";
  position: absolute;
  display: block;
  background-color: $base-white-color;
  transition: all 0.6s;
}

.form__button::after {
  background-color: $extra-background-color;
}

.form__button:hover::before {
  background-color: $extra-background-color;
}

.form__button:hover::after {
  background-color: $base-white-color;
}

.form__button:active::after {
  background-color: rgb($base-white-color, 0.7);
}

.form__button:disabled {
  border: solid 1px #a9afb7;
  background-color: transparent;
  color: #a9afb7;
  pointer-events: none;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 50px 58px;
  }

  .form::before {
    top: 50px;
    left: 58px;
    width: 652px;
    height: 780px;
    border-radius: 16px;
  }

  .form__wrapper {
    padding: 0;
    padding-right: 210px;
  }

  form {
    padding: 30px 40px;
    width: 442px;
    min-height: 780px;
  }

  .form__title {
    margin-bottom: 20px;
    padding: 11px 8px 11px 0;
    font-size: 28px;
    line-height: 28px;
  }

  .form__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
  }

  form label {
    font-size: 14px;
    line-height: 20px;
  }

  form textarea {
    min-height: 88px;
  }

  form .form__checkbox {
    margin-bottom: 40px;
  }

  .form__mark {
    top: 0;
  }

  .form__text-checkbox {
    padding: 4px 0 3px 30px;
    line-height: 12px;
  }

  .form__text-checkbox br {
    display: none;
  }

  .form__button {
    width: 352px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 60px 100px;
  }

  .form::before {
    top: 60px;
    left: 100px;
    width: 1240px;
    height: 800px;
  }

  .form__wrapper {
    padding-right: 750px;
  }

  form {
    margin: 0;
    padding: 30px 70px 40px;
    width: 490px;
    min-height: 780px;
  }

  .form__title {
    padding: 14px 0;
    font-size: 32px;
    line-height: 36px;
  }

  .form__subtitle {
    line-height: 26px;
  }

  form label {
    line-height: 18px;
  }

  form textarea {
    min-height: 90px;
  }

  form .form__checkbox {
    margin-bottom: 36px;
  }

  .form__text-checkbox {
    padding: 4px 0 4px 30px;
  }

  .form__text-checkbox br {
    display: none;
  }

  .form__mark {
    top: 0;
  }
}
