.form {
  padding: 40px 0;
}

.form__wrapper {
  padding: 40px 0;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px 15px 27px;
  width: 300px;
  min-height: 670px;
  color: $base-white-color;
  background-color: $extra-background-color;
  border-radius: 16px;
}

.form__title {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  color: $base-white-color;
}

.form__subtitle {
  margin: 0;
  margin-bottom: 20px;
  color: $base-background-color;
}

form label {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 14px;
  color: $base-background-color;
  opacity: 0.8;
}

form input,
form textarea,
form select {
  margin-bottom: 20px;
  padding: 16px 10px;
  color: $base-white-color;
  background-color: transparent;
  border: 1px solid rgb($base-white-color, 0.3);
  border-radius: 8px;
}

form textarea {
  min-height: 94px;
  resize: none;
}

form select {
  appearance: none;
}

form .form__checkbox {
  position: relative;
  margin-bottom: 20px;
  color: $base-white-color;
  opacity: 1;
  cursor: pointer;
}

.form__text-checkbox {
  display: block;
  padding-left: 30px;
}

.form__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: $base-white-color;
  border-radius: 2px;
}

// .form__checkbox[type="checkbox"] + .form__mark {

// }

.form__button {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  color: $base-white-color;
  background-color: transparent;
  border: 1px solid $base-white-color;
}

.form__button::after {
  content: "";
  position: absolute;
  display: block;
  background-color: $base-white-color;
}
