.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  width: 320px;
  z-index: 2;
}

.header__logo {
  display: block;
  width: 52px;
  height: 52px;
}

@media (min-width: $tablet-width) {
  .header {
    padding: 30px 45px;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: 30px 100px;
    width: 1440px;
  }
}
