.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  width: 320px;
  z-index: 2;
}

.header__logo {
  display: block;
  width: 52px;
  height: 52px;
}
