.hero__swiper {
  position: relative;
  color: $extra-background-color;
}

.hero__bullets-wrapper {
  padding: 10px 16px;
  width: fit-content;
  min-width: 48px;
  min-height: 8px;
}

.hero__swiper-pagination.swiper-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  bottom: auto;
  left: auto;
  width: auto;
}

.hero__pagination-bullet {
  position: relative;
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
}

.hero__pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #316dc2;
  transition: all 0.2s;
}

.hero__pagination-bullet--active::before {
  background-color: #316dc2;
}

.hero__pagination-bullet:hover::before {
  opacity: 0.7;
}

.hero__swiper .swiper-slide--global {
  background-image: url("../../img/global-hero-mobile@1x.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/global-hero-mobile@2x.jpg");
  }
}

.hero__swiper .swiper-slide--volunteer {
  background-image: url("../../img/volunteer-hero-mobile@1x.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/volunteer-hero-mobile@2x.jpg");
  }
}

.hero__swiper .swiper-slide--program {
  background-image: url("../../img/program-hero-mobile@1x.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/program-hero-mobile@2x.jpg");
  }
}

.hero__swiper .swiper-slide {
  padding: 74px 15px 20px;
  min-height: 568px;
  border-radius: 0;
}

.hero__swiper .swiper-slide::before {
  border-radius: 0;
}

.hero__swiper .swiper-nebo-tr {
  --nb-r: 14px;
  --nb-w: 182px;
  --nb-h: 0px;
}

.hero__swiper .swiper-nebo-br {
  --nb-r: 14px;
  --nb-w: 78px;
  --nb-h: 36px;
}

.hero__swiper .swiper-text {
  --nb-r: 14px;
  --nb-w: -5px;
  --nb-h: 152px;
}

.hero__swiper h2 {
  margin: 0;
  padding: 20px 15px 16px 14px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.hero__swiper p {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 40px 15px 14px;
  font-size: 16px;
  color: $base-black-color;
}

.hero__button {
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 15px 59px 15px 21px;
  max-width: 250px;
}

@media (min-width: $tablet-width) {
  .hero__bullets-wrapper {
    padding: 14px 20px;
    min-width: 60px;
    min-height: 12px;
  }

  .hero__pagination-bullet {
    width: 12px;
    height: 12px;
  }

  .hero__pagination-bullet::before {
    width: 12px;
    height: 12px;
  }

  .hero__swiper .swiper-slide--global {
    background-image: url("../../img/global-hero-tablet@1x.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/global-hero-tablet@2x.jpg");
    }
  }

  .hero__swiper .swiper-slide--volunteer {
    background-image: url("../../img/volunteer-hero-tablet@1x.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/volunteer-hero-tablet@2x.jpg");
    }
  }

  .hero__swiper .swiper-slide--program {
    background-image: url("../../img/program-hero-desktop@1x.jpg");
    background-position: 70% 0;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/program-hero-desktop@2x.jpg");
    }
  }

  .hero__swiper .swiper-slide {
    padding: 86px 64px 60px 45px;
    min-height: 1024px;
  }

  .hero__swiper .swiper-nebo-tr {
    --nb-r: 20px;
    --nb-w: 520px;
    --nb-h: 0px;
  }

  .hero__swiper .swiper-nebo-br {
    --nb-w: 35px;
  }

  .hero__swiper .swiper-text {
    position: relative;
    border-radius: 20px 20px 30px 30px;

    --nb-r: 20px;
    --nb-w: 26px;
    --nb-h: 98px;
  }

  .hero__swiper h2 {
    padding: 30px 69px 24px 40px;
    font-size: 36px;
    line-height: 44px;
  }

  .hero__swiper p {
    margin: 0;
    padding: 0 351px 35px 40px;
  }

  .hero__button {
    position: absolute;
    margin: 0;
    padding: 20px 80px 20px 30px;
    bottom: 41px;
    right: 105px;
  }
}

@media (min-width: $desktop-width) {
  .hero__swiper .swiper-slide--global {
    background-image: url("../../img/global-hero-desktop@1x.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/global-hero-desktop@2x.jpg");
    }
  }

  .hero__swiper .swiper-slide--volunteer {
    background-image: url("../../img/volunteer-hero-desktop@1x.jpg");

    @media (resolution >= 2dppx) {
      background-image: url("../../img/volunteer-hero-desktop@2x.jpg");
    }
  }

  .hero__swiper .swiper-slide--program {
    background-image: url("../../img/program-hero-desktop@1x.jpg");
    background-position: center;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/program-hero-desktop@2x.jpg");
    }
  }

  .hero__swiper .swiper-slide {
    padding: 116px 372px 60px 100px;
    min-height: 800px;
  }

  .hero__swiper .swiper-nebo-tr {
    --nb-r: 20px;
    --nb-w: 828px;
    --nb-h: 0px;
  }

  .hero__swiper .swiper-text {
    border-radius: 20px 20px 30px 30px;

    --nb-r: 22px;
    --nb-w: 151px;
    --nb-h: 70px;
  }

  .hero__swiper h2 {
    padding: 40px 50px 30px;
    font-size: 54px;
    line-height: 62px;
  }

  .hero__swiper p {
    padding: 0 460px 35px 50px;
    line-height: 26px;
  }

  .hero__button {
    position: absolute;
    margin: 0;
    padding: 20px 80px 20px 30px;
    bottom: 35px;
    right: 225px;
  }
}
