.navigation__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__toggle {
  position: relative;
  display: block;
  padding: 19px 71px 19px 20px;
  line-height: 14px;
  letter-spacing: 0.28px;
  color: $extra-background-color;
  background-color: $base-white-color;
  border-radius: 30px;
  border: 1px solid $extra-background-color;
  text-transform: uppercase;
  cursor: pointer;
}

.navigation__toggle::after {
  content: "";
  position: absolute;
  display: block;
  top: 3px;
  right: 4px;
  width: 46px;
  height: 46px;
  background-color: $extra-background-color;
  border-radius: 50%;
}

.navigation__toggle > .hamburger,
.navigation__toggle > .hamburger::before,
.navigation__toggle > .hamburger::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 20px;
  width: 14.5px;
  height: 1px;
  background-color: $base-white-color;
  transition: all 0.2s;
  z-index: 1;
}

.navigation__toggle > .hamburger::before {
  top: 3px;
  right: 0;
}

.navigation__toggle > .hamburger::after {
  top: 6px;
  right: 0;
}
