.news {
  position: relative;
  padding: 50px 15px;
}

.news .swiper-button {
  position: absolute;
  top: auto;
  bottom: 52px;
  right: 15px;
}

.news .swiper-button-prev {
  left: 15px;
}

.news__title {
  margin: 0;
  padding: 0 15px;
  margin-bottom: 24px;
  text-align: center;
}

.news__tabs {
  display: flex;
  gap: 12px;
  margin-right: -15px;
  margin-bottom: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
}

.news__swiper {
  position: relative;
  padding-bottom: 50px;
}

.news__swiper .swiper-slide {
  display: flex;
  gap: 20px;
  height: 590px;
}

.news__swiper .swiper-slide::before {
  content: none;
}

.news__swiper .swiper-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 240px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 14px;
}

.news__swiper .swiper-card--interview {
  height: 330px;
  background-image: url("../../img/interview-news@1x.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/interview-news@2x.jpg");
  }
}

.news__swiper .swiper-card--travel {
  background-image: url("../../img/travel-news@1x.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/travel-news@2x.jpg");
  }
}

.news__swiper .swiper-card--volunteer {
  height: 330px;
  background-image: url("../../img/volunteer-news@1x.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/volunteer-news@2x.jpg");
  }
}

.news__swiper .swiper-card--career {
  background-image: url("../../img/career-news@1x.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/career-news@2x.jpg");
  }
}

.news__swiper .swiper-text {
  position: relative;
  padding-top: 16px;
  margin: 0 -1px -1px;
  background-color: $base-background-color;
  border-radius: 0;
}

.news__swiper span {
  padding: 12px 12px 6px 0;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  color: $extra-background-color;
}

.news__swiper h3 {
  margin: 0;
  padding: 10px 22px 6px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $extra-background-color;
}

.news__swiper p {
  margin: 0;
  padding: 12px 72px 10px 0;
  font-size: 12px;
  line-height: 14px;
}

.news__swiper a {
  position: absolute;
  padding: 0;
  right: 37px;
  bottom: 10px;
  width: 30px;
  height: 30px;
  background-color: $extra-background-color;
  border-radius: 50%;
}

.news__swiper a::before {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  background-color: $base-white-color;
  mask-image: url("../../__spritemap#sprite-arrow-view");
  mask-size: 10px 10px;
  mask-position: center;
  mask-repeat: no-repeat;
  transition: all 0.6s;
}

.news__swiper a:hover::before {
  transform: rotate(45deg);
}

.news__swiper a:active::before {
  background-color: rgb($base-white-color, 0.7);
}

.news__swiper a:focus {
  outline: none;
}

.news__swiper a:focus-visible {
  transform: rotate(45deg);
}

.news__swiper .swiper-pagination {
  position: absolute;
  display: flex;
  gap: 8px;
  top: auto;
  left: 66px;
  bottom: 0;
  width: 152px;
}

.news__swiper .swiper-pagination-bullet {
  padding: 4px 7px;
  width: 26px;
  height: 26px;
  font-size: 14px;
  line-height: 14px;
  color: $extra-background-color;
  background-color: transparent;
  border: 2px solid transparent;
  transition: all 0.6s;
}

.news__swiper .swiper-pagination-bullet:hover {
  border: 2px solid $extra-background-color;
  opacity: 1;
}

.news__swiper .swiper-pagination-bullet:active {
  color: $base-white-color;
  background-color: $active-push-color;
  opacity: 1;
}

.news__swiper .swiper-pagination-bullet-active {
  color: $base-white-color;
  background-color: $extra-background-color;
}

@media (min-width: $tablet-width) {
  .news {
    padding: 50px 45px;
  }

  .news .swiper-button {
    bottom: 54px;
    right: 45px;
  }

  .news .swiper-button-prev {
    left: 45px;
  }

  .news__title {
    padding: 0;
    margin-bottom: 30px;
  }

  .news__tabs {
    gap: 10px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .news__swiper {
    padding-bottom: 62px;
  }

  .news__swiper .swiper-slide {
    gap: 30px;
    width: 324px;
    height: 730px;
  }

  .news__swiper .swiper-card {
    height: 350px;
    border-radius: 12px;
  }

  .news__swiper h3 {
    padding: 10px 110px 6px 0;
    font-size: 20px;
    line-height: 24px;
  }

  .news__swiper p {
    margin: 0;
    padding: 12px 150px 18px 0;
    font-size: 14px;
    line-height: 20px;
  }

  .news__swiper a {
    right: 102px;
    bottom: 31px;
  }

  .news__swiper .swiper-pagination {
    gap: 12px;
    left: 50%;
    width: 188px;
    transform: translateX(-50%);
  }

  .news__swiper .swiper-pagination-bullet {
    padding: 6px 11px;
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 20px;
  }

  .news__swiper .swiper-pagination-bullet-active {
    color: $base-white-color;
    background-color: $extra-background-color;
  }
}

@media (min-width: $desktop-width) {
  .news {
    padding: 60px 45px;
  }

  .news .swiper-button {
    bottom: 65px;
    right: 100px;
  }

  .news .swiper-button-prev {
    left: 100px;
  }

  .news__title {
    margin-bottom: 40px;
  }

  .news__tabs {
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
  }

  .news__swiper {
    padding-bottom: 72px;
  }

  .news__swiper .swiper-slide {
    flex-direction: row;
    gap: 32px;
    width: auto;
    height: 400px;
  }

  .news__swiper .swiper-card {
    height: 400px;
    flex-shrink: 0;
  }

  .news__swiper .swiper-slide > :first-child {
    width: 604px;
  }

  .news__swiper .swiper-slide > :last-child {
    width: 286px;
  }

  .news__swiper a {
    right: 25px;
  }

  .news__swiper h3 {
    padding: 10px 16px 6px 0;
    font-size: 20px;
    line-height: 24px;
  }

  .news__swiper p {
    margin: 0;
    padding: 12px 68px 10px 0;
    font-size: 14px;
    line-height: 20px;
  }
}
