.news {
  position: relative;
  padding: 50px 15px;
}

.news__title {
  margin: 0;
  padding: 0 15px;
  margin-bottom: 24px;
  text-align: center;
}

.news__tabs {
  display: flex;
  gap: 12px;
  margin-right: -15px;
  margin-bottom: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
}

.news .swiper-button {
  position: absolute;
  top: auto;
  bottom: 52px;
  right: 15px;
}

.news .swiper-button-prev {
  left: 15px;
}

.news .news__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 590px;
}

.news .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
  min-height: 240px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news .swiper-slide:nth-child(odd) {
  min-height: 330px;
}

.news .swiper-slide::before {
  content: none;
}

.news .swiper-slide--interview {
  background-image: url("../../img/interview-news@1x.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/interview-news@2x.jpg");
  }
}

.news .swiper-slide--travel {
  background-image: url("../../img/travel-news@1x.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/travel-news@2x.jpg");
  }
}

.news .swiper-slide--volunteer {
  background-image: url("../../img/volunteer-news@1x.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/volunteer-news@2x.jpg");
  }
}

.news .swiper-slide--career {
  background-image: url("../../img/career-news@1x.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/career-news@2x.jpg");
  }
}

.news__swiper {
  position: relative;
  padding-bottom: 50px;
}

.news__swiper .swiper-text {
  position: relative;
  padding-top: 7px;
  margin: 0 -1px -1px;
  background-color: transparent;
  border-radius: 0;
}

.news__swiper .swiper-nebo-date {
  display: block;
  padding: 12px 12px 6px 0;
  background-color: $base-background-color;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  color: $extra-background-color;

  --nb-r: 12px;
  --nb-w: 188px;
  --nb-h: 6px;
}

.news__swiper .swiper-nebo-title {
  display: block;
  margin: 0;
  padding: 9px 44px 6px 0;
  background-color: $base-background-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: $extra-background-color;

  --nb-r: 12px;
  --nb-w: 66px;
  --nb-h: 27px;
}

.news__swiper .swiper-slide:nth-child(even) .swiper-nebo-title {
  --nb-h: 9px;
}

.news__swiper .swiper-nebo-description {
  position: relative;
  background-color: $base-background-color;

  --nb-r: 12px;
  --nb-w: 5px;
  --nb-h: 39px;
}

.news__swiper .swiper-slide:nth-child(even) .swiper-nebo-description {
  --nb-h: 25px;
}

.news__swiper p {
  margin: 0;
  padding: 12px 72px 10px 1px;
  font-size: 12px;
  line-height: 14px;
}

.news__swiper a {
  position: absolute;
  padding: 0;
  right: 37px;
  top: 50%;
  width: 30px;
  height: 30px;
  background-color: $extra-background-color;
  border-radius: 50%;
  transform: translateY(-50%);
}

.news__swiper a::before {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  background-color: $base-white-color;
  mask-image: url("../../../__spritemap#sprite-arrow-view");
  mask-size: 10px 10px;
  mask-position: center;
  mask-repeat: no-repeat;
  transition: all 0.6s;
}

.news__swiper a:hover::before {
  transform: rotate(45deg);
}

.news__swiper a:active::before {
  background-color: rgb($base-white-color, 0.7);
}

.news__swiper a:focus {
  outline: none;
}

.news__swiper a:focus-visible {
  transform: rotate(45deg);
}

.news__swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  bottom: 0;
}

.news__swiper .swiper-pagination-bullet {
  padding: 4px 7px;
  width: 26px;
  height: 26px;
  font-size: 14px;
  line-height: 14px;
  color: $extra-background-color;
  background-color: transparent;
  border: 2px solid transparent;
  transition: all 0.6s;
}

.news__swiper .swiper-pagination-bullet:hover {
  border: 2px solid $extra-background-color;
  opacity: 1;
}

.news__swiper .swiper-pagination-bullet:active {
  color: $base-white-color;
  background-color: $active-push-color;
  opacity: 1;
}

.news__swiper .swiper-pagination-bullet-active {
  color: $base-white-color;
  background-color: $extra-background-color;
}

@media (min-width: $tablet-width) {
  .news {
    padding: 50px 45px;
  }

  .news__title {
    padding: 0;
    margin-bottom: 30px;
  }

  .news__tabs {
    justify-content: center;
    gap: 10px;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .news .swiper-button {
    bottom: 54px;
    right: 45px;
  }

  .news .swiper-button-prev {
    left: 45px;
  }

  .news .news__list {
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 730px;
  }

  .news .swiper-slide {
    gap: 30px;
    width: 324px;
    min-height: 350px;
  }

  .news .swiper-slide:nth-child(odd) {
    min-height: 350px;
  }

  .news .swiper-card {
    border-radius: 12px;
  }

  .news__swiper {
    padding-bottom: 62px;
  }

  .news__swiper .swiper-nebo-date {
    --nb-r: 12px;
    --nb-w: 220px;
    --nb-h: 6px;
  }

  .news__swiper .swiper-nebo-title {
    padding: 12px 110px 6px 0;
    font-size: 20px;
    line-height: 24px;

    --nb-r: 12px;
    --nb-w: 95px;
    --nb-h: 90px;
  }

  .news__swiper .swiper-slide:nth-child(even) .swiper-nebo-title {
    --nb-h: 42px;
  }

  .news__swiper .swiper-nebo-description {
    --nb-r: 12px;
    --nb-w: 60px;
    --nb-h: 85px;
  }

  .news__swiper .swiper-slide:nth-child(even) .swiper-nebo-description {
    --nb-h: 45px;
  }

  .news__swiper p {
    margin: 0;
    padding: 12px 150px 18px 0;
    font-size: 14px;
    line-height: 20px;
  }

  .news__swiper a {
    right: 103px;
  }

  .news__swiper .swiper-pagination {
    gap: 12px;
    left: 50%;
    width: 188px;
    transform: translateX(-50%);
  }

  .news__swiper .swiper-pagination-bullet {
    padding: 5px 10px;
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 20px;
  }

  .news__swiper .swiper-pagination-bullet-active {
    color: $base-white-color;
    background-color: $extra-background-color;
  }
}

@media (min-width: $desktop-width) {
  .news {
    padding: 0;
  }

  .news__wrapper {
    position: relative;
    margin: 0 auto;
    padding: 60px 45px;
    max-width: 1440px;
  }

  .news__wrapper .swiper-button {
    bottom: 66px;
    right: 100px;
  }

  .news__wrapper .swiper-button-prev {
    left: 100px;
  }

  .news .news__list {
    flex-wrap: nowrap;
    max-height: 400px;
  }

  .news .swiper-slide {
    gap: 32px;
    width: 286px;
    min-height: 400px;
    max-height: 100%;
  }

  .news .swiper-slide:nth-child(3n+1) {
    width: 604px;
  }

  .news .swiper-slide:nth-child(odd) {
    min-height: 400px;
  }

  .news__swiper .swiper-text {
    padding-right: 40px;
  }

  .news__title {
    margin-bottom: 40px;
  }

  .news__tabs {
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
  }

  .news__swiper {
    padding-bottom: 72px;
    width: 1240px;
  }

  .news__swiper .swiper-nebo-date {
    --nb-w: 145px;
  }

  .news__swiper .swiper-slide:nth-child(3n+1) .swiper-nebo-date {
    --nb-w: 470px;
  }

  .news__swiper .swiper-nebo-title {
    padding: 10px 50px 3px 0;
    font-size: 24px;
    line-height: 26px;

    --nb-w: 35px;
    --nb-h: 70px;
  }

  .news__swiper .swiper-slide:nth-child(3n+1) .swiper-nebo-title {
    --nb-w: 120px;
    --nb-h: 42px;
  }

  .news__swiper.news__swiper .swiper-nebo-description {
    --nb-w: -20px;
    --nb-h: 45px;
  }

  .news__swiper .swiper-slide:nth-child(3n+1) .swiper-nebo-description {
    --nb-w: 75px;
    --nb-h: 42px;
  }

  .news__swiper a {
    right: 20px;
  }

  .news__swiper .swiper-slide:nth-child(3n+1) a {
    right: 115px;
  }

  .news__swiper p {
    margin: 0;
    padding: 12px 68px 15px 0;
    font-size: 14px;
    line-height: 20px;
  }

  .news .swiper-slide:nth-child(3n+1) p {
    padding-right: 55px;
    width: 468px;
  }
}
