.news {
  position: relative;
  padding: 50px 15px 100px;
}

.news .swiper-button {
  position: absolute;
  bottom: 50px;
  right: 15px;
}

.news .swiper-button-prev {
  left: 15px;
}

.news__title {
  margin: 0;
  padding: 0 15px;
  margin-bottom: 24px;
  text-align: center;
}

.news__tabs {
  display: flex;
  gap: 12px;
  margin-right: -15px;
  margin-bottom: 24px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: none;
}

.news__swiper .swiper-slide {
  gap: 20px;
  min-height: 590px;
}

.news__swiper .swiper-slide::before {
  content: none;
}

.news__swiper .swiper-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 240px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}

.news__swiper .swiper-text--interview {
  min-height: 330px;
  background-image: url("../../img/interview-news@1x.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/interview-news@2x.jpg");
  }
}

.news__swiper .swiper-text--travel {
  background-image: url("../../img/travel-news@1x.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/travel-news@2x.jpg");
  }
}

.news__swiper .swiper-text--volunteer {
  min-height: 330px;
  background-image: url("../../img/volunteer-news@1x.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/volunteer-news@2x.jpg");
  }
}

.news__swiper .swiper-text--career {
  background-image: url("../../img/career-news@1x.jpg");

  @media (resolution >= 2dppx) {
    background-image: url("../../img/career-news@2x.jpg");
  }
}

.news__swiper span {
  padding: 12px 12px 6px 0;
  color: $extra-background-color;
}

.news__swiper h3 {
  margin: 0;
  padding: 10px 18px 4px 0;
  color: $extra-background-color;
}

.news__swiper p {
  margin: 0;
  padding: 12px 77px 10px 0;
}

