.reviews {
  overflow: hidden;
}

.reviews__wrapper {
  position: relative;
  padding: 50px 15px;
}

.reviews__title {
  padding: 6px 5px 3px 0;
}

.reviews .swiper-button {
  position: absolute;
  top: 75px;
  right: 16px;
}

.reviews .swiper-button-prev {
  left: auto;
  right: 45px;
}

.reviews__swiper .swiper-slide {
  padding: 28px 15px 30px;
  border: 2px solid #316dc2;
  border-radius: 16px;
}

.reviews__swiper .swiper-slide::before {
  content: none;
}

.reviews__swiper .swiper-scrollbar {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__wrapper {
    position: relative;
    margin-right: -45px;
    padding: 50px 45px 60px;
  }

  .reviews__title {
    padding: 0;
    margin-bottom: 40px;
  }

  .reviews .swiper-button {
    top: auto;
    right: 90px;
    bottom: 50px;
  }

  .reviews .swiper-button-prev {
    right: 122px;
  }

  .reviews__swiper .swiper-wrapper {
    margin-bottom: 52px;
  }

  .reviews__swiper .swiper-slide {
    margin-right: 15px;
    padding: 50px;
    width: 560px;
  }

  .reviews__swiper .swiper-scrollbar {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: calc(100% - 161px);
    height: 2px;
    background: rgb($extra-background-color, 0.2);
    border-radius: 2px;
  }

  .reviews__swiper .swiper-scrollbar-drag {
    height: 2px;
    background: $extra-background-color;
    border-radius: 2px;
    cursor: grab;
  }

  .reviews__swiper .swiper-scrollbar-drag:active {
    cursor: grabbing;
  }
}

@media (min-width: $desktop-width) {
  .reviews__wrapper {
    margin: 0;
    padding: 60px 100px;
  }

  .reviews__title {
    padding: 5px 3px;
  }

  .reviews .swiper-button {
    top: auto;
    right: 100px;
    bottom: 60px;
  }

  .reviews .swiper-button-prev {
    right: 132px;
    left: auto;
  }

  .reviews__swiper .swiper-wrapper {
    margin-bottom: 62px;
  }

  .reviews__swiper .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 47px 50px 50px;
    width: 604px;
    min-height: 483px;
  }

  .reviews__swiper .swiper-scrollbar {
    bottom: 10px;
    width: calc(100% - 103px);
  }

  .reviews__swiper .swiper-scrollbar-drag {
    opacity: 1;
    visibility: visible;
    min-width: 40px;
  }
}
