.select {
  position: relative;
  width: 260px;
}

.select__label {
  display: block;
  position: relative;
  padding: 17px 20px;
  margin-bottom: 4px;
  width: 100%;
  height: 52px;
  border: 1px solid rgb($base-white-color, 0.3);
  border-radius: 8px;
  cursor: pointer;
}

.select__label::before {
  content: "";
  display: block;
  position: absolute;
  top: 17px;
  right: 20px;
  width: 16px;
  height: 16px;
  background-image: url("../../../__spritemap#sprite-arrow-down-view");
  background-size: 16px 8px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.6s;
}

.select:hover .select__label::before,
.select:active .select__label::before {
  transform: rotate(180deg);
}

.select__input {
  display: none;
}

.select__options {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  background-color: $base-white-color;
  border-radius: 8px;
  z-index: 2;
}

.select__item {
  margin: 0;
  padding: 17px 20px;
  color: $base-black-color;
  cursor: pointer;
}

.select__item:hover {
  color: $extra-background-color;
}

.select__item:active {
  color: $base-white-color;
  background-color: $extra-background-color;
}

.select__input:checked ~ .select__options {
  display: block;
}
