.select {
  position: relative;
  width: 260px;
}

.select--popup {
  width: 100%;
}

.select__label {
  display: block;
  position: relative;
  padding: 17px 20px;
  margin-bottom: 4px;
  width: 100%;
  height: 52px;
  border: 1px solid rgb($base-white-color, 0.3);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.6s;
}

.select__label:hover {
  border: 1px solid rgb($base-white-color, 1);
}

.select__label:focus {
  border: 1px solid rgb($base-white-color, 1);
}

.select__label--popup {
  padding: 13px 10px;
  margin-bottom: 4px;
  width: 100%;
  height: 44px;
  color: $base-black-color;
  border: 1px solid rgb($base-black-color, 0.3);
  border-radius: 8px;
}

.select__label--popup:hover {
  border: 1px solid rgb($base-black-color, 1);
}

.select__label--popup:focus {
  border: 1px solid rgb($base-black-color, 1);
}

.select__label::before {
  content: "";
  display: block;
  position: absolute;
  top: 17px;
  right: 20px;
  width: 16px;
  height: 16px;
  background-image: url("../../../__spritemap#sprite-arrow-down-view");
  background-size: 16px 8px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.6s;
}

.select__label--popup::before {
  top: 13px;
  background-image: none;
  background-color: $base-black-color;
  mask-image: url("../../../__spritemap#sprite-arrow-down-view");
  mask-size: 16px 8px;
  mask-position: center;
  mask-repeat: no-repeat;
}

.select:hover .select__label::before,
.select:active .select__label::before {
  transform: rotate(180deg);
}

.select__options {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  background-color: $base-white-color;
  border: 1px solid $base-white-color;
  border-radius: 8px;
  z-index: 2;
}

.select__options--popup {
  border: 1px solid $base-black-color;
}

.select__item {
  margin: 0;
  padding: 17px 20px;
  color: $base-black-color;
  cursor: pointer;
}

.select__item:hover {
  color: $extra-background-color;
}

.select__item:active {
  color: $base-white-color;
  background-color: $extra-background-color;
}

.select__input:checked ~ .select__options {
  display: block;
}

@media (min-width: $tablet-width) {
  .select {
    width: 362px;
  }

  .select--popup {
    width: 350px;
  }

  .select__label--popup {
    height: 50px;
  }

  .select__label--popup::before {
    top: 17px;
  }
}

@media (min-width: $desktop-width) {
  .select {
    width: 350px;
  }
}
