.social__link {
  display: block;
  width: 26px;
  height: 26px;
  background-color: $extra-background-color;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.6s;
}

.social__link:active {
  background-color: $active-push-color;
}

.social__link:focus {
  outline: none;
}

.social__link:focus-visible {
  background-color: $base-white-color;
}

.social__link::after {
  content: "";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background-color: $base-white-color;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 12px 12px;
  transition: all 0.6s;
}

.social__link--vk::after {
  mask-image: url("../../../__spritemap#sprite-vk-view");
}

.social__link--ok::after {
  mask-image: url("../../../__spritemap#sprite-ok-view");
}

.social__link--reddit::after {
  mask-image: url("../../../__spritemap#sprite-reddit-view");
}

.social__link:hover::after {
  opacity: 0.7;
}

.social__link:active::after {
  background-color: $base-white-color;
  opacity: 1;
}

.social__link:focus-visible::after {
  background-color: $extra-background-color;
}

@media (min-width: $tablet-width) {
  .social__link {
    width: 36px;
    height: 36px;
  }

  .social__link::after {
    width: 36px;
    height: 36px;
    mask-size: 16px 16px;
  }
}
