.swiper--news .swiper-wrapper {
  margin-bottom: 100px;
}

.swiper--news .swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 15px 20px;
  min-height: 330px;
}

.swiper--news span {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  color: $extra-background-color;
}

.swiper--news h3 {
  margin: 0;
  padding: 10px 18px 4px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $extra-background-color;
}

.swiper--news p {
  margin: 0;
  padding: 12px 72px 10px 0;
  font-size: 12px;
  line-height: 14px;
}

.swiper--news .swiper-slide__button {
  position: absolute;
  padding: 0;
  right: 28px;
  bottom: 39px;
  width: 30px;
  height: 30px;
  background-color: $extra-background-color;
}

.swiper--news .swiper-slide__button::after {
  content: none;
}
