.swiper--hero {
  padding: 20px 15px;
  color: $extra-background-color;
}

.swiper--hero .swiper-silde {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.swiper--hero h2 {
  margin: 0;
  padding: 20px 15px 16px 14px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.swiper--hero p {
  margin: 0;
  margin-bottom: 10px;
  padding: 0 40px 15px 14px;
  font-size: 16px;
  color: $base-black-color;
}
