.swiper--programs .swiper-wrapper {
  margin-bottom: 30px;
}

.swiper--programs .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 400px;
}

.swiper--programs .swiper__text-wrapper {
  position: relative;
  padding: 18px 10px;
}

.swiper--programs h3 {
  margin: 0;
  padding: 18px 35px 6px 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $extra-background-color;
}

.swiper--programs p {
  margin: 0;
  padding: 12px 77px 15px 18px;
  font-size: 12px;
  line-height: 14px;
}

.swiper--programs .swiper-slide__button {
  position: absolute;
  padding: 0;
  right: 28px;
  bottom: 39px;
  width: 30px;
  height: 30px;
  background-color: $extra-background-color;
}

.swiper--programs .swiper-slide__button::after {
  content: none;
}
