.swiper .swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
}

.swiper .swiper-slide::before {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  background:
    linear-gradient(
      rgb(49, 109, 194, 0.2),
      rgb(49, 109, 194, 0.2)
    );
  border-radius: 12px;
}

.swiper-text {
  background-color: $base-white-color;
  border-radius: 14px;
  z-index: 1;
}

.swiper-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 14px 0;
  margin-bottom: 24px;
}

.swiper-header p {
  margin: 0;
  margin-left: 10px;
  font-size: 14px;
  line-height: 18px;
  color: $extra-background-color;
}

.swiper-content h3 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $extra-background-color;
}

.swiper-content p {
  margin: 0;
}

.swiper-button .swiper-navigation-icon {
  display: none;
}

.swiper-button {
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  border: none;
  cursor: pointer;
}

.swiper-button::after,
.swiper-button--deactivated::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  background-color: $extra-background-color;
  mask-image: url("../../__spritemap#sprite-arrow-view");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 10px 10px;
  transform: rotate(45deg);
}

.swiper-button:not(.swiper-button--deactivated):hover::after {
  background-color: rgb($extra-background-color, 0.7);
}

.swiper-button:focus {
  outline: none;
}

.swiper-button:focus-visible {
  background-color: $base-white-color;
  border-radius: 50%;
}

.swiper-button:not(.swiper-button--deactivated):active {
  background-color: $base-white-color;
  border-radius: 50%;
}

.swiper-button-prev {
  transform: rotate(-180deg);
}

.swiper-button--deactivated::after {
  background-color: $disabled-color;
  cursor: default;
}

@media (min-width: $tablet-width) {
  .swiper-header {
    gap: 15px;
    margin-bottom: 31px;
  }

  .swiper-header img {
    display: block;
    height: 90px;
  }

  .swiper-header p {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
  }

  .swiper-content h3 {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 24px;
  }

  .swiper-content p {
    font-size: 16px;
    line-height: 20px;
  }

  .swiper-slide--global .hero__button {
    bottom: 79px;
  }
}

@media (min-width: $desktop-width) {
  .swiper-header {
    margin-bottom: 29px;
  }

  .swiper-header p {
    font-size: 18px;
  }

  .swiper-content h3 {
    font-size: 24px;
    line-height: 26px;
  }

  .swiper-content p {
    line-height: 26px;
  }

  .swiper-slide--global .hero__button {
    bottom: 46px;
    right: 244px;
  }
}
