.tabs__button {
  display: block;
  padding: 0 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.24px;
  color: $extra-background-color;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  opacity: 0.6;
  cursor: pointer;
}

.tabs__button:hover {
  opacity: 1;
}

.tabs__button:focus {
  outline: none;
}

.tabs__button:focus-visible {
  background-color: $base-white-color;
  border-radius: 20px;
}

.tabs__button--active {
  padding: 10px 14px;
  border: 2px solid $extra-background-color;
  border-radius: 20px;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .tabs__button {
    padding: 0 20px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
  }

  .tabs__button--active {
    padding: 14px 20px;
  }
}

@media (min-width: $desktop-width) {
  .tabs__button {
    padding: 0;
    width: 120px;
  }

  .tabs__button--active {
    padding: 14px 33px;
  }
}
