.title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  color: $extra-background-color;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 34px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .title {
    font-size: 50px;
  }
}
