@font-face {
  font-family: "Manrope";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/Manrope-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Manrope-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts//Manrope-Medium.woff2") format("woff2");
  font-display: swap;
}
