$primary-font: "Manrope", "Arial", sans-serif;
$base-black-color: #484848;
$base-white-color: #ffffff;
$base-background-color: #f0efe9;
$extra-background-color: #316dc2;
$active-push-color: #275699;
$disabled-color: #a9afb7;
$tablet-width: 768px;
$desktop-width: 1440px;
