@import "vendor/normalize";
@import "./common/variables";
@import "./common/global";
@import "./common/fonts";
@import "./blocks/visually-hidden";
@import "./blocks/button";
@import "./blocks/page";
@import "./blocks/header";
@import "./blocks/navigation";
@import "./blocks/swiper";
@import "./blocks/hero";
@import "./blocks/title";
@import "./blocks/about";
@import "./blocks/programs";
@import "./blocks/grant";
@import "./blocks/instructions";
@import "./blocks/news";
@import "./blocks/tabs";
@import "./blocks/questions";
@import "./blocks/accordion";
@import "./blocks/reviews";
@import "./blocks/description";
@import "./blocks/contacts";
@import "./blocks/form";
@import "./blocks/select";
@import "./blocks/footer";
@import "./blocks/social";
